/* MAIN CONTENT */ 
body, html{
    height:100%;
    width:100%;
    margin:0;
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
}


/*   HTML ELEMENTS  */
body a{
    color:#b3338d;
    text-decoration: none;
}


body a:link{
    margin:5px;
    color:#b3338d;
    text-decoration: none;
}


body a:visisted{
    color:#b3338d;
    text-decoration: none;
}


body a:hover{
    color:#b3338d;
    text-decoration: none;
}


body a:active{
    color:#b3338d;
    text-decoration: none;
}


body p{
    color: #fff;
}


body ::-webkit-scrollbar{
    width:10px;
}


body ::-webkit-scrollbar-thumb{
    background-color:#b3338d;
}


/* reusable classes */
.hidden{
    height:0;
    width:0;
    display: none;
}

.show{
   display:block; 
}

.title-holder{
    width:100%;
}

.center{
    /* centers the current object according to the parent size */
    display: flex;
    align-items: center;
    justify-content: center;
}


.page-title{
    /* styling for the h2 elements on each page */
    color: white;
    width:100%;
    font-size:5rem;
    font-family: 'Anton', sans-serif;
    text-shadow:0px 0px 15px #b3338d;
    z-index:1;
}

.text-outline{
    text-shadow:1px 1px 0px #b3338d,
            -1px -1px 0px #b3338d,
            -1px 1px 0px #b3338d,
            1px -1px 0px #b3338d,
            0px 0px 15px #b3338d;
}

.subtitle{
    font-size:1.3rem;
}

.img-source{
    /* Footer element what contains the image souce*/
    font-size:1rem;
    width:100%;
    background: rgba(0,0,0, .5);
    color: #d3d3d3;
    position:absolute;
    bottom:0;
    z-index:0;
}


.content{
    width:100%;
    height:100%;
    text-align:center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    overflow-y:auto;
}

.column{
    flex-direction: column;
}

.start-just{
    padding:3%;
    justify-content: flex-start;
}


/*      NAVBAR       */
.nav-custom-bg{
    background-color:#662467;
}

.navbar-holder{
    width:100%;
    z-index: 2;
}



/*      INDEX / HOME PAGE CONTENT SPECIFIC      */


.home-background{
    background-image: url('resources/art-5488298.jpg');
}


.carousel-and-download{
    z-index: 0;
    padding:0;
    margin:0;
}


#picture-carousel{
    width:20rem;
}


.container-fluid{
    height:100%;
    padding:10%;
    margin:0;
    overflow-y: auto;
}


/* RESUME BUTTON */

.custom-btn{
    height:4rem;
    width:17rem;
    padding: 20% 25%;
    margin: 20%;
    box-shadow: 0px 0px 15px #b3338d;
    font-size:7rem;
}

.custom-btn{
        font-size:5rem;
    }


/*         ABOUT PAGE CONTENT           */
.about-background{
    background-image: url('resources/texture-976040.jpg');
}


.about-text{
    color:white;
    padding:2rem;
    height:250px;
    width:500px;
    overflow-y:auto;
    background: rgba(0,0,0, .6);
}


/* CONTACT PAGE */

.contact-background{
    background-image: url('resources/color-4160196.jpg');
}



.button-container{
    width:500px;
}


.form-content{
    color:white;
    padding:2rem;
    background: rgba(0,0,0, .6);
}


.form-group{
    padding:0;
    margin:0;
    font-size:1rem;
}


/* SKILLS PAGE*/
.skills-background{
    background-image: url('resources/color-4159771.jpg');
}

@media screen and (max-height:850px){
    
    .content{
        padding:1%;
        justify-content: flex-start;
    } 
    .custom-btn{
        height:3rem;
        width:10rem;
    }
    .page-title{
        font-size:4rem;
    }
    .subtitle{
        font-size:1rem;
    }
}
