/* MAIN CONTENT */ 
body, html{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}


/*   HTML ELEMENTS  */
body a{
    color:#b3338d;
    text-decoration: none;
}


body a:link{
    margin:5px;
    color:#b3338d;
    text-decoration: none;
}


body a:visisted{
    color:#b3338d;
    text-decoration: none;
}


body a:hover{
    color:#b3338d;
    text-decoration: none;
}


body a:active{
    color:#b3338d;
    text-decoration: none;
}


body p{
    color: #fff;
}


body ::-webkit-scrollbar{
    width:10px;
}


body ::-webkit-scrollbar-thumb{
    background-color:#b3338d;
}


/* reusable classes */
.hidden{
    display:none;
}

.show{
    display:block;
}

.center{
    /* centers the current object according to the parent size */
    display: flex;
    align-items: center;
    justify-content: center;
}


.page-title{
    /* styling for the h2 elements on each page */
    margin-top:10%;px;
    padding:2%;
    color: white;
    width:100%;
    font-size:5rem;
    font-family: 'Anton', sans-serif;
    text-shadow:0px 0px 15px #b3338d;
}

.text-outline{
    text-shadow:1px 1px 0px #b3338d,
            -1px -1px 0px #b3338d,
            -1px 1px 0px #b3338d,
            1px -1px 0px #b3338d,
            0px 0px 15px #b3338d;
}

.subtitle{
    font-size:1.3rem;
}

.img-source{
    /* Footer element what contains the image souce*/
    font-size:1rem;
    width:100%;
    background: rgba(0,0,0, .5);
    color: #d3d3d3;
    position:absolute;
    bottom:0;
    z-index:0;
}


.content{
    padding:3%;
    text-align:center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    flex-direction: column;
    overflow: hidden;
}



/*      NAVBAR       */
.nav-custom-bg{
    background-color:#662467;
}


#nav-element{
    z-index: 2;
    margin-bottom:4%;
    position:fixed;
    width:100%;
}




/*      INDEX / HOME PAGE CONTENT SPECIFIC      */


.home-background{
    background-image: url('resources/art-5488298.jpg');
}


.carousel-and-download{
    flex-direction: column;
    z-index: 0;
}


#picture-carousel{
    width:20rem;
}


.container-fluid{
    height:100%;
    padding:0;
    margin:0;
    overflow-y: auto;
}


/* RESUME BUTTON */

.custom-btn{
    height:4rem;
    width:17rem;
    padding: 20% 25%;
    margin: 20%;
    box-shadow: 0px 0px 15px #b3338d;
    font-size:7rem;
}


/*         ABOUT PAGE CONTENT           */
.about-background{
    background-image: url('resources/texture-976040.jpg');
}


.about-text{
    color:white;
    padding:2rem;
    height:250px;
    width:500px;
    overflow-y:auto;
    background: rgba(0,0,0, .6);
}


/* CONTACT PAGE */

.contact-background{
    background-image: url('resources/color-4160196.jpg');
}


.button-container{
    width:500px;
}

.form-content{
    margin:1rem;
    color:white;
    padding:2rem;
    background: rgba(0,0,0, .6);
}

#form-control{
    color:white;
}

/* SKILLS PAGE*/
.skills-background{
    background-image: url('resources/color-4159771.jpg');
}
